<div class="entry-navbar navbar">
    <ul style="list-style: none;">
      <li class="logo">
        Facebook
      </li>
      <li class="link-signup">
        <%= link_to 'Sign Up', new_user_registration_path %>
      </li>
    </ul>
</div>


<div class="sessions-new">
<h1 class="regist-header">Log in</h1>
<br>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field email-regist">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
  </div>

  <div class="field password-regist">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field remember-login">
      <%= f.check_box :remember_me, checked: true, hidden: true %>
    </div>
  <% end -%>

  <div class="actions registration-button">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>

</div>

<div class="external-login">
  <h1 class="regist-header">Facebook Inc</h1>
  <p class="regist-free">Sign in with any of the social media </p>
  <div class="signin-links">

  </div>

</div>
